body{
  background-color:rgb(231, 217, 255);
  margin: 0;
}

main{
  margin: 2rem;
}

.todoItem{
  background-color:rgb(194, 171, 228);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 0.1rem solid rgb(249, 247, 252);
}

.margin{
  margin: 0.5rem;
}

.header{
  text-align: center;
}

header{
  background-color:rgb(194, 171, 228);
  border-bottom: 0.1rem solid rgb(249, 247, 252);
}
